process {

    publishDir = { "${params.outdir}" }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2',
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: CALCULATE_SCORE_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2',
            '--scorer', 'RandomScorer',
        ].join(' ')
    }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2',
            '--n-burnin', '1',
            '--n-samples', '3',
            '--thin', '1'
        ].join(' ')
    }


    withName: EVALUATE_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2'
        ].join(' ')
    }

    withName: ANALYZE_MODEL_EVALUATION {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2'
        ].join(' ')
    }
}
