process {
    publishDir = { "${params.outdir}" }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: ANALYZE_MODEL_EVALUATION {
        ext.args = [
        ].join(' ')
    }

    withName: CALCULATE_SCORE_CHUNK {
        ext.args = [
            '--scorer', 'RandomScorer',
        ].join(' ')
    }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2',
            '--n-burnin', '1',
            '--n-samples', '3',
            '--thin', '1'
        ].join(' ')
    }

    withName: PREPARE_RETROSPECTIVE_SIMULATION {
        ext.args = [
            '--plate-generator', 'PlatePermutationPlateGenerator'
        ].join(' ')
    }
}
