process {

    publishDir = { "${params.outdir}" }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100',
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: ADVANCE_RETROSPECTIVE_SIMULATION {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100'
        ].join(' ')
    }

    withName: SELECT_NEXT_BATCH {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--scorer', 'RandomScorer',
            '--batch-size', '1'
        ].join(' ')
    }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--n-burnin', '1',
            '--n-samples', '1',
            '--thin', '1'
        ].join(' ')
    }

}
