params {
    // Base directory for test data
    test_data_base = "${launchDir}/nextflow/tests/data"

    test_data {
        batchie {
            masked_experiment = "${params.test_data_base}/masked_experiment.h5"
            unmaksed_experiment = "${params.test_data_base}/unmaksed_experiment.h5"
        }
    }
}
