params {
    // Base directory for test data
    test_data_base = "${launchDir}/nextflow/tests/data"

    test_data {
        batchie {
            masked_experiment = "${params.test_data_base}/masked_experiment.h5"
            unmasked_experiment = "${params.test_data_base}/unmasked_experiment.h5"
            thetas = "${params.test_data_base}/thetas.h5"
            distance_matrix = "${params.test_data_base}/distance_matrix.h5"
            plate_selection = "${params.test_data_base}/plate_selection.json"
        }
    }
}
