params {
    // Base directory for test data
    test_data_base = "${launchDir}/nextflow/tests/data"

    test_data {
        batchie {
            masked_screen = "${params.test_data_base}/masked_screen.h5"
            unmasked_screen = "${params.test_data_base}/unmasked_screen.h5"
            thetas = "${params.test_data_base}/thetas.h5"
            distance_matrix = "${params.test_data_base}/distance_matrix.h5"
            batch_selection = "${params.test_data_base}/batch_selection.json"
            simulation_tracker = "${params.test_data_base}/simulation_tracker.json"
        }
    }
}
