params {
    n_chunks = 1
    n_chains = 1
}

process {
    publishDir = { "${params.outdir}" }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--n-burnin', '10',
            '--n-samples', '10',
            '--thin', '1'
        ].join(' ')
    }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: SELECT_NEXT_BATCH {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--scorer', 'GaussianDBALScorer',
            '--batch-size', '1'
        ].join(' ')
    }
}
