params {
    n_chunks = 50
    n_chains = 2
    batch_size = 18
}

process {

    publishDir = { "${params.outdir}" }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: CALCULATE_SCORE_CHUNK {
        ext.args = [
            '--scorer', 'GaussianDBALScorer',
            '--seed', '12'
        ].join(' ')
    }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=12',
            '--n-burnin', '2000',
            '--n-samples', '200',
            '--thin', '40'
        ].join(' ')
    }

    withName: PREPARE_RETROSPECTIVE_SIMULATION {
        ext.args = [
            '--plate-generator', 'PairwisePlateGenerator',
            '--plate-generator-param', 'subset_size=20',
            '--plate-generator-param', 'anchor_size=0',
            '--initial-plate-generator', 'SparseCoverPlateGenerator',
            '--initial-plate-generator-param', 'reveal_single_treatment_experiments=False',
            '--plate-smoother', 'BatchieEnsemblePlateSmoother',
            '--plate-smoother-param', 'min_size=50',
            '--plate-smoother-param', 'n_iterations=1',
            '--plate-smoother-param', 'min_n_cell_line_plates=3',
        ].join(' ')
    }
}
