params {
    n_chunks = 50
    n_chains = 2
}

process {
    publishDir = { "${params.outdir}" }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=10',
            '--n-burnin', '500',
            '--n-samples', '200',
            '--thin', '2'
        ].join(' ')
    }
}
