params {
    n_chunks = 50
    n_chains = 10
}

process {
    publishDir = { "${params.outdir}" }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=12',
            '--n-burnin', '2000',
            '--n-samples', '200',
            '--thin', '10',
            '--progress'
        ].join(' ')
    }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--distance-metric', 'MSEDistance',
            '--progress'
        ].join(' ')
    }

    withName: CALCULATE_SCORE_CHUNK {
        ext.args = [
            '--scorer', 'GaussianDBALScorer',
            '--seed', '12',
            '--progress'
        ].join(' ')
    }

    withName: SELECT_NEXT_PLATE {
        ext.args = [
            '--policy', 'KPerSamplePlatePolicy',
            '--policy-param', 'k=3'
        ].join(' ')
    }
}
