process {

    publishDir = { "${params.outdir}" }

    withName: CALCULATE_DISTANCE_MATRIX_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100',
            '--distance-metric', 'MSEDistance'
        ].join(' ')
    }

    withName: ADVANCE_RETROSPECTIVE_SIMULATION {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100'
        ].join(' ')
    }

    withName: SELECT_NEXT_BATCH {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100',
            '--scorer', 'GaussianDBALScorer',
        ].join(' ')
    }

    withName: TRAIN_MODEL {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=100',
            '--n-burnin', '2000',
            '--n-samples', '200',
            '--thin', '40'
        ].join(' ')
    }

    withName: PREPARE_RETROSPECTIVE_SIMULATION {
        ext.args = [
            '--plate-generator', 'PairwisePlateGenerator',
            '--plate-generator-param', 'subset_size=20',
            '--plate-generator-param', 'anchor_size=60',
            '--initial-plate-generator', 'SparseCoverPlateGenerator',
        ].join(' ')
    }
}
