params {
    reveal = true
}

process {

    publishDir = { "${params.outdir}" }

    withName: CALCULATE_SCORE_CHUNK {
        ext.args = [
            '--model', 'SparseDrugCombo',
            '--model-param', 'n_embedding_dimensions=2',
            '--scorer', 'RandomScorer',
        ].join(' ')
    }

}
